* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    font-size: 2.4rem;
}

.header {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 0.3s;
}

.header.active {
    left: 0px;
}

.header ul li img {
    width: 100px;
    border-radius: 40%;
    display: block;
    margin: 0 auto;
}


.header ul li{
    color: rgba(230,230,230,0.9);
    text-align: center;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    padding: 15px 10px;
    list-style: none;
}


.header .toggle-btn {
    position: absolute;
    left: 210px;
    top: 40%;
    cursor: pointer;
}

.header .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid #000;
    font-weight: bold;
}

.section_rooms {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section_rooms_cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_rooms_cardContainer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
    border-radius: 10%;
    border: 1px solid #151719;
    margin: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}


.section_rooms_cardContainer_card_name {
    font-size: 24px;
    font-weight: 600;
}


.section_rooms_cardContainer_card_states {
    display: flex;
    justify-content: center;
}


.section_rooms_cardContainer_card_states select {
    color: white;
    width: 72%;
    padding: 12px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    background-color: #0563af;
}


